<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="aspectBiz" class="net.lihulab.aop.schema.biz.AspectBiz"></bean>
	
	<bean id="lihuAspect" class="net.lihulab.aop.schema.LihuAspect"></bean>
	
	<aop:config>
<!-- 			<aop:pointcut expression="execution(* com.imooc.aop.schema.advice.biz.*Biz.*(..))" id="moocPiontcut"/> -->
<!-- 			<aop:before method="before" pointcut-ref="moocPiontcut"/> -->
<!-- 			<aop:after-returning method="afterReturning" pointcut-ref="moocPiontcut"/> -->
<!-- 			<aop:after-throwing method="afterThrowing" pointcut-ref="moocPiontcut"/> -->
<!-- 			<aop:after method="after" pointcut-ref="moocPiontcut"/> -->
<!-- 			<aop:around method="around" pointcut-ref="moocPiontcut"/> -->
			
<!-- 			<aop:around method="aroundInit" pointcut="execution(* com.imooc.aop.schema.advice.biz.AspectBiz.init(String, int))  -->
<!-- 							and args(bizName, times)"/> -->
        <aop:aspect id="lihuAspectAOP" ref="lihuAspect">
            <aop:pointcut expression="execution(* net.lihulab.aop.schema.biz.*Biz.*(..))" id="lihuPointcut" />
            <aop:before method="before" pointcut-ref="lihuPointcut" />
		</aop:aspect>
	</aop:config>

 </beans>
